@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Global Citizen Site</h1>
    <p class="lead">Global Citizen, also known as Global Poverty Project, is an international education and advocacy organization working to catalyze the movement to end extreme poverty.</p>
</div>
<img src="~/Images/globalcitizen.png" alt="globalcitizen" style="width: 400px; height: 200px; margin-left: 400px; margin-right: auto;">
<img src="~/Images/Nar1.png" alt="Nar1" style="width: 400px; height: 400px; margin-left: 200px; margin-right: auto;">
<img src="~/Images/Nar2.png" alt="Nar2" style="width: 400px; height: 400px; margin-left: auto; margin-right: auto;">
<img src="~/Images/Nar3.png" alt="Nar3" style="width: 400px; height: 400px; margin-left: 200px; margin-right: auto;">
<img src="~/Images/Nar4.png" alt="Nar4" style="width: 400px; height: 400px; margin-left: auto; margin-right: auto;">
<img src="~/Images/ERD.png" alt="ERD" style="width: 400px; height: 400px; margin-left: 400px; margin-right: auto;">

