
@{
    ViewBag.Title = "View";
}

<h2>Canned Food Donation</h2>

<img src="~/Images/cannedfood.jpg" alt="cannedfood" style="width: 400px; height: 200px; margin-left: 200px; margin-right: auto;">

@using (Html.BeginForm("Viewd", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="desc">Name:</label>
        <textarea class="form-control" id="desc" name="desc" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="desc">Surname:</label>
        <textarea class="form-control" id="desc" name="desc" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="desc">Email Address:</label>
        <textarea class="form-control" id="desc" name="desc" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="fill">Select the canned category you wish to donate:</label>
        <select class="form-control" name="fill" id="fill">
            <option value="#ff0000">Canned Fruits</option>
            <option value="#ff8000">Canned Vegetables</option>
            <option value="#ffff00">Canned Grains</option>
            <option value="#40ff00">Canned Dairy</option>
            <option value="#00ffff">Canned Protein</option>
        </select>
    </div>
    <div class="form-group">
        <label for="stroke">Quantity:</label>
        <input type="number" min="1" max="50" class="form-control" name="stroke" id="stroke">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <div class="section-content">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody id="donations"></tbody>
        </table>
    </div>


    <script>
        var name = [];
        var surname = [];
        var email = [];
        var category = [];
        var quantity = [];

        function addDonation() {
            var names = document.querySelector("#names").value;

            var surnames = document.querySelector("#surnames").value;

            var emails = document.querySelector("#emails").value;

            var categorys = document.querySelector("#categorys").value;

            var quantitys = document.querySelector("#quantitys").value;

            document.querySelector("#names").value = "";

            document.querySelector("#surnames").value = "";

            document.querySelector("#emails").value = "";

            document.querySelector("#categorys").value = "";

            document.querySelector("#quantitys").value = "";

            donations.push({ name: mnames, surname: surnames, email: emails  , category: categorys , quantity: quantitys});

            console.log(donations);

            updatedonations();
        }


        function updatedonations() {
            var tableBody = document.querySelector("#donations");

            tableBody.innerHTML = " ";

            for (var i = 0; i < donations.length; i++) {
                tableBody.innerHTML +=
                    `<tr>` +
                `<td>${donations[i].name}</td>` +
                `<td>${donations[i].surname}</td>` +
                `<td>${donations[i].email}</td>` +
                `<td>${donations[i].category}</td>` +
                `<td>${donations[i].quantity}</td>` +
                    `</tr>`;
            }
        }
    </script>
}