
@{
    ViewBag.Title = "Views";
}

<h2>Skills Workshop</h2>

<img src="~/Images/skills.jpg" alt="skills" style="width: 400px; height: 200px; margin-left: 200px; margin-right: auto;">


@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="desc">Name:</label>
        <textarea class="form-control" id="desc" name="desc" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="desc">Surname:</label>
        <textarea class="form-control" id="desc" name="desc" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="desc">Email Address:</label>
        <textarea class="form-control" id="desc" name="desc" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="desc">Contact number:</label>
        <textarea class="form-control" id="desc" name="desc" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="desc">Please provide a decription of the skill you are willing to teach:</label>
        <textarea class="form-control" id="desc" name="desc" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <div class="section-content">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id="donations"></tbody>
        </table>
    </div>


    <script>
        var name = [];
        var surname = [];
        var email = [];
        var description = [];

        function addDonation() {
            var names = document.querySelector("#names").value;

            var surnames = document.querySelector("#surnames").value;

            var emails = document.querySelector("#emails").value;

            var categorys = document.querySelector("#descriptions").value;

            document.querySelector("#names").value = "";

            document.querySelector("#surnames").value = "";

            document.querySelector("#emails").value = "";

            document.querySelector("#descriptions").value = "";

            document.querySelector("#quantitys").value = "";

            donations.push({ name: mnames, surname: surnames, email: emails, description: descriptions });

            console.log(donations);

            updatedonations();
        }


        function updatedonations() {
            var tableBody = document.querySelector("#donations");

            tableBody.innerHTML = " ";

            for (var i = 0; i < donations.length; i++) {
                tableBody.innerHTML +=
                    `<tr>` +
                    `<td>${donations[i].name}</td>` +
                    `<td>${donations[i].surname}</td>` +
                    `<td>${donations[i].email}</td>` +
                    `<td>${donations[i].description}</td>` +
                    `</tr>`;
            }
        }
    </script>

}

